body{
    background-image: url(jungle.jpg);}
 .content{
   width: 100%;height: 620px;
   position: relative;
   margin-top: 3px;
   left: 0;
 }
 .content img{
   width:550px;height:550px;
   position:absolute;
   padding-left: 200px;
   padding-top: 140px;
   left: 0;
   animation-name:foodchain;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }
#men img{
   width:280px;height:280px;
   padding-top: 220px;
   padding-left: 50px;
   position:absolute;
   left: 0;
   animation-name:foodchain;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }
 #goat img{
   width:180px;height:180px;
   padding-top: 290px;
   padding-left: 450px;
   position:absolute;
   left: 0;
   animation-name:foodchain;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }

  #ass img{
   width:180px;height:180px;
   padding-top: 290px;
   padding-left: 350px;
   position:absolute;
   left: 0;
   animation-name:foodchain;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }
  #bull img{
   width:180px;height:180px;
   padding-top: 290px;
   padding-left: 250px;
   position:absolute;
   left: 0;
   animation-name:foodchain;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }
  #lion2 img{
   width:200px;height:200px;
   padding-top: 290px;
   padding-left: 50px;
   position:absolute;
   left: 0;
   animation-name:foodchain;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }

 @keyframes foodchain{
  from{left: 0%;}
  to{left: 90%;}
 }
